@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(./fonts/Inter.ttf) format('truetype');
}

.App {
    font-family: 'Inter';
}

h1 {
    @apply text-3xl font-extrabold tracking-tight;
}

h2 {
    @apply text-2xl font-bold tracking-tight;
}

h3 {
    @apply text-xl font-bold tracking-tight;
}

h4 {
    @apply text-lg tracking-tight;
}